<template>
  <div class="app-container">
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="全部" name="all">全部</el-tab-pane>
      <el-tab-pane label="我参与的" name="dev">我参与的</el-tab-pane>
      <el-tab-pane label="我管理的" name="manage">我管理的</el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>
export default {
  data() {
    return {
      activeName: 'all'
    }
  }
}
</script>
