<template>
  <div class="app-header">
    <div class="left-header">
      <img
        class="logo-img"
        src="@/assets/images/logo.png"
      >
      <span class="title">星码 X-Code</span>
      <!-- <span class="title-desc">一站式研发管理平台</span> -->
    </div>
    <div class="right-menu">
      <el-dropdown class="avatar-container" trigger="click">
        <div class="avatar-wrapper">
          <el-avatar size="small"> {{ real_name ? real_name.slice(1) : '匿' }} </el-avatar>
        </div>
        <el-dropdown-menu slot="dropdown" class="user-dropdown">
          <router-link to="/">
            <el-dropdown-item>
              首页
            </el-dropdown-item>
          </router-link>
          <router-link to="/project/my">
            <el-dropdown-item>
              我的项目
            </el-dropdown-item>
          </router-link>
          <el-dropdown-item divided @click.native="logout">
            <span style="display:block;">注销</span>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'AppHeader',
  computed: {
    ...mapGetters([
      'sidebar',
      'avatar',
      'name',
      'real_name'
    ])
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar')
    },
    async logout() {
      await this.$store.dispatch('user/logout')
      this.$router.push(`/login?redirect=${this.$route.fullPath}`)
    }
  }
}
</script>
<style lang="less" scoped>
  .left-header {
    color: #808080;
    margin-left: 20px;
    display:flex;
    align-items: center;
    .logo-img {
      width:32px;
      height:32px;
    }
    .title {
      font-weight: 800;
      font-size:20px;
      margin:0 20px;
      color: #303133;
    }
    .title-desc {
      margin-left:10px;
      font-size:16px;
    }
  }
  .right-menu {
    float: right;
    height: 100%;
    line-height: 50px;
    color: #808080;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #808080;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin-right: 16px;
      cursor: pointer;
      .avatar-wrapper {
        margin-top: 8px;
        position: relative;
        .el-avatar {
          background-color:#202d40;
          color:#fff;
        }
      }
    }
  }
</style>
